.hidden{
    display: none;
}

section{
    max-width: 80ch;
    margin: 1rem;
    padding: 1rem;
    border: 1px dotted grey;
    height: 300px;
    display: flex;
}

@media (max-height: 768px) {
    section {
        height: 200px;
    }
}

@media (max-height: 400px) {
    section{
        height: 100px;
    }
}

/*
* {
    box-sizing: border-box;
}

p {
    white-space: pre-line;
    max-width: 550px;
}

h1{
    text-align: center;
    font-size: 50px;
}

.content-wrapper{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faded-card {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
*/